* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62,5%; /*equivale a 10px*/
}

h1 {
  color: #264155;
  font-size: 5.0rem; /*equivalente a 50px -> pois leva em consideração o font-size definido em % no root*/
  font-weight: 900; /*de 100 a 900*/
  font-style: oblique;
  text-decoration: underline;
  text-align: center;
}

.background-img {
  background-image: url(https://images.unsplash.com/photo-1684266897797-d6e54c28aaf3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80);
  background-size: cover;
  width: 100%;
  height: 500px;
  background-position: center;
}

p {
  text-align: justify;
  text-indent: 90px;
}